@media screen and (max-width: 600px) {
    body header {
        font-family: 'Blinker', sans-serif;
        text-align: center;
        margin: 0;
        min-width: 50%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        
    }
    .triangulo , .separadorNombre{
        border: 0;
    }
    .fotoPerfil {
        position: relative;

        width: 230px;
        height: 230px;
        margin:  1rem 5rem ;
    }
    .contenedor1 {
        margin: 1em;
        text-align: center;
    }
    .contenedor1 h2 , .contenedor1 p  {
            padding:  0 1rem ;
            
    }
    .contenedor1 h2{
        font-size: 30px;
        font-style: italic;
    }
    .contenedor1 p  {
        padding:  0 1rem  0 ;
        margin-bottom: 2rem;
}

        /*COMIENZO DE MAIN*/
nav div a span {
    display: none;
}


    /*COMIENZO DE MAIN*/
    main {
        align-items:unset;
    }
    body main {
        margin: 0;
        display: flex;
        flex-direction: column;
        /*align-items:center;*/
        justify-content:center;
        

    }
    .info {
        flex-wrap: wrap;
    }
    .contenedor2 {
       text-align: center;
       flex-grow: none;
       flex-shrink: none;
       flex-basis: 100%;
       max-width: 100%;
    }
    .barra {
        max-width: 310px;
        height: 10px;
        background-color: white;
        border-radius: 10px;
    }
    .descarga_btn {
        padding: 0  0 5rem 0 ;
        
      }
}